#formoverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11;
    top: 0;
    left: 0;
    background: rgba(8, 10, 13, 0.9);
    display: none;
}

.footer {
	width: 100%;
	background: linear-gradient(180deg, #343B57 0%, #1D2232 100%);
	border-top: 1px solid #ccc;
	padding-top: 40px;
	padding-bottom: 40px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&__logo {
		width: 100%;
		max-width: 172px;
		margin-bottom: 40px;
		@media screen and (min-width: $landscape-sm) {
			margin-bottom: 0;
		}
		svg {
			height: 50px;
		}
	}
	&__links {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		@media screen and (min-width: $landscape-sm) {
			justify-content: flex-end;
		}
		&__item {
			display: block;
			width: auto;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
			margin-top: 1em;
			margin-bottom: 1em;
			@media screen and (min-width: $landscape-lg) {
				font-size: 18px;
				line-height: 21px;
			}

			&[href^="tel:"] {
				color: #fff;
				@media screen and (min-width: $landscape-sm) {
					margin-right: 50px;
				}
			}
			&[href^="mailto:"] {
				color: $brightgreen;
			}
			&.conf {
				color: $brightgreen;
				@media screen and (min-width: $landscape-sm) {
					margin-left: 50px;
				}
			}
		}
	}
}

.lp__info__fixed {
	position: fixed;
	z-index: 100;
	top: 75%;
	right: 0;
	width: 100%;
	max-width: 200px;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: all 0.3s linear;
	transform: translateX(165px);
  border-radius: 6px 0px 0px 6px;
  overflow: hidden;
	&.active {
		transform: translateX(0px);
	}
	@media screen and (min-width: $landscape-lg) {
		top: 40%;
		max-width: 265px;
		transform: translateX(230px);
	}
	&__row {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
	&__icon {
		display: block;
		width: 100%;
		max-width: 35px;
		background-color: $brightgreen;
		text-align: center;
		line-height: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		img {
			width: 100%;
			max-width: 23px;
		}
	}
	&__text {
		width: calc(100% - 35px);
		margin: 0;
		background-color: #fff;
		padding-left: 10px;
		font-size: 10px;
		line-height: 21px;
		color: #000;
		font-weight: bold;
		padding-top: 5.5px;
		padding-bottom: 5.5px;
		@media screen and (min-width: $landscape-lg) {
			font-size: 14px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		span {
			font-size: 18px;
			line-height: 21px;
			font-weight: 800;
			margin-right: 5px;
			@media screen and (min-width: $landscape-lg) {
				font-size: 24px;
				margin-right: 10px;
			}
		}
	}
}



#goup{
  border-radius: $bradius;
  width: 67px;
  height: 67px;
  position: fixed;
  bottom: 260px;
  right: 30px;
  z-index: 8;
  cursor: pointer;
  transition: $transition;
  opacity: 0;
  background-color: $maindark;
  box-shadow: 1.5px 4.8px 15px 0 rgba(0, 0, 0, 0.54);
  &:hover, &:focus, &:active{
    background-color: darken($maindark, 15);
  }
  @media screen and (max-width: 991px){
    width: 40px;
    height: 40px;
    right: 15px;
    bottom: 90px;
  }
}

.cornermodal{
	transition: all 0.3s ease;
	left: 0;
	bottom: 0;
	box-shadow: 1.5px 4.8px 15px 0 rgba(0, 0, 0, 0.54);
	position: fixed;
	z-index: 101;
	background: radial-gradient(84.98% 84.98% at 65.45% 22.36%, #D4D3FE 0%, #9F9CE6 100%), radial-gradient(101.66% 101.66% at 17.58% 112.31%, #A070E3 0%, #3C1F65 100%);
	width: 100%;
	max-width: 342px;
	min-height: 311px;
	padding: 20px 30px;
	padding-right: 70px;
	border-top-right-radius: 30px;
	transform: translate(-500px, 0px);
	box-sizing: border-box;
	@media screen and (max-width: 767px){
		min-height: 240px;
	}
	&[data-modal="halloween"]{
		&.vis{
			transform: translate(0px, 0px);
			&.hide{
				transform: translate(0px, 200px);
				@media screen and (max-width: 767px){
					transform: translate(0px, 800px);
				}
			}
		}
		
		&::before{
			width: 112px;
			height: 104px;
			top: 0;
			background-image: url(../img/halloween-bat.png);
			transform: translate(-30px, -70px);
		}
		&::after{
			width: 505px;
			height: 234px;
			bottom: 0;
			background-image: url(../img/halloween-bottom.png);
			transform: translate(-114px, 44px);
			@media screen and (max-width: 767px){
				width: 405px;
				transform: translate(-34px, 124px);
			}
		}
		&:before, &::after{
			content: '';
			z-index: 1;
			position: absolute;
			left: 0;
			background-repeat: no-repeat;
			background-size: contain;
		}
		.close{
			z-index: 3;
			background-image: url(../img/halloween-close.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 68px;
			height: 68px;
			top: -15px;
			right: -15px;
			position: absolute;
			cursor: pointer;
			transition: all 0.3s ease;
			transform: scale(1);
			&:after{
				content: '';
				z-index: 1;
				position: absolute;
				left: 34px;
				background-repeat: no-repeat;
				background-size: contain;
				width: 52px;
				height: 74px;
				top: 100%;
				background-image: url(../img/halloween-spider.png);
				transform: translate(-26px, -5px);
				transition: all 0.3s ease;
			}
			&:hover,
			&:focus{
				transform: scale(0.9);
				&:after{
					transform: translate(-50%, -30px);
				}
			}
		}
		.content{
			cursor: pointer;
			position: relative;
			z-index: 2;
			font-family: 'TT Norms';
			&:after{
				content: '';
				width: 380px;
				height: 182px;
				top: 50%;
				position: absolute;
				left: 50%;
				z-index: -1;
				transform: translate(-50%, -50%);
			}
			.caption{
				font-size: 25px;
				font-weight: 800;
				color: #481F82;
				span{
					margin-top: 5px;
					display: block;
					font-weight: 700;
					font-size: 17px;
				}
			}
			a{
				margin-top: 20px;
				display: block;
				text-align: center;
				background: #481F82;
				color: #fff;
				width: 146px;
				height: 32px;
				border-radius: 16px;
				line-height: 32px;
				text-decoration: none;
				transition: all 0.3s ease;
				opacity: 1;
				&:hover,
				&:focus{
					opacity: 0.8;
				}
			}
		}
	}
	&[data-modal="seogift"]{
		background-image: url(../img/seogift.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom left;
		width: 286px;
		max-width: 286px;
		height: 219px;
		box-shadow: none;
		display: flex;
		align-items: flex-end;
		padding-top: 0;
		left: -20px;
		bottom: -50px;
		@media screen and (max-width: 767px){
			max-width: 353px;
    		height: 376px;
		}
		

		.close{
			z-index: 3;
			background-image: url(../img/seogift-close.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 48px;
			height: 48px;
			top: 33px;
    		right: -58px;
			position: absolute;
			cursor: pointer;
			transition: all 0.3s ease;
			transform: scale(1);
			&:hover,
			&:focus{
				transform: scale(0.9);
			}
		}
		.content{
			cursor: pointer;
			position: relative;
			height: 100%;
			z-index: 2;
			font-family: 'TT Norms';
			&:after{
				content: '';
				width: 229px;
				height: 184px;
				left: 100%;
				position: absolute;
				bottom: 0;
				z-index: 1;
				transform: translate(0%, 15%);
				background-image: url(../img/seogift-hero.png);
				background-repeat: no-repeat;
				background-size: contain;
			}

			a{
				margin-top: 170px;
				margin-left: 5px;
				display: block;
				text-align: center;
				color: #fff;
				background-color: #A2C81F;
				width: 146px;
				height: 32px;
				font-weight: 700;
				border-radius: 16px;
				line-height: 32px;
				text-decoration: none;
				transition: all 0.3s ease;
				opacity: 1;
				&:hover,
				&:focus{
					opacity: 0.8;
				}
				@media screen and (max-width: 767px){
					margin-left: 0;
					margin-top: 240px;
				}
			}
		}
		&.vis{
			transform: translate(0px, 0px);
			&.hide{
				transform: translate(0px, 95px);
				@media screen and (max-width: 767px){
					transform: translate(0px, 800px);
				}
				.content{
					&:after{
						transform: translate(0%, 35%);
					}
				}
			}
		}
	}
}