header {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 120px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 140px;
	}

	.col-lg-10 + .col-12{
		&.closed{
			&::before{
				margin-right: 20px;
				content: 'Набор завершен';
				color: #342441;
				font-weight: 800;
				font-size: 18px;
				border-radius: 5px;
				padding: 5px 20px;
				background: #fff;
				display: inline-block;
				margin-bottom: 20px;
			}
		}
	}
}

.logo {
	transition: all 0.3s ease;
	opacity: 1;
	display: flex;
	align-items: flex-start;

	img{
		top: 15px;
		position: relative;
		width: 100px;
		&:last-of-type{
			width: 90px;
		}
	}
	@media screen and (min-width: $mobile) {
		position: absolute;
		z-index: 7;
		top: 75px;
		left: 15px;
		width: 100%;
		max-width: 232px;
		margin: 0;
		display: flex;
		align-items: flex-start;
		svg {
			height: auto;
			line-height: 0;
		}

		.plus{
			height: 40px;
			line-height: 20px;
			color: #fff;
			font-size: 28px;
			padding-left: 5px;
			padding-right: 5px;
			position: relative;
			top: 15px;
		}
	}
	@media screen and (min-width: $landscape-lg) {
		left: 20px;
	}
	@media screen and (min-width: $desktop) {
		top: 93px;
	}
	@media screen and (min-width: 1600px) {
		top: 8px;
		left: -225px;
	}
}

.fixed{
	.logo{
			opacity: 0;
			@media screen and (min-width: 1600px) {
				opacity: 1;
			}
	}
}

// Hamburger
.hamburger {
	padding: 0;
  display: block;
  outline: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  @media screen and (min-width: $landscape-lg - 1) {
  	display: none;
  }
  &:focus {
  	outline: none;
  }
}
.hamburger-box {
    width: 21px;
    height: 17px;
    display: block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 21px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -7px;
}
.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse .hamburger-inner::after {
    top: -14px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}

.hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -7px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
}

.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

// Menu
.top__menu__wrap {
	width: 100%;

	padding-bottom: 0px;
	@media screen and (min-width: $mobile) {
		position: fixed;
		background-color: #202536;
		top: 0;
		left: 0;
		z-index: 10;
		.topmenu__nav {
			max-height: 90vh;
			overflow: hidden;
			overflow-y: auto;
		}
		// .logo {
		// 	display: none;
		// }

	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0;
		padding-bottom: 0px;
		position: fixed;
			background-color: rgba(32, 37, 54, 0.9);
			.topmenu__nav__callback {
				display: none;
			}

	}
	@media screen and (min-width: $landscape-lg - 1) {
		display: block;
	}

}
.topmenuholder {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	@media screen and (min-width: $mobile) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	@media screen and (min-width: $desktop) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
.topmenu {
	&__nav {
		@media screen and (min-width: $mobile) and (max-width: $landscape-lg - 1) {
			position: fixed;
			z-index: 9;
			top: 50px;
			left: 0;
			width: 100vw;
			margin-left: 50%;
			background-color: #202536;
			padding-top: 70px;
			padding-bottom: 30px;
			transform: scaleY(0) translateX(-50%);
			opacity: 0;
			transition: transform 0.35s linear, opacity 0.32s linear, visibility 0s linear 0.3s;
			transform-origin: top;
			visibility: hidden;
			&.opened {
				transform: scaleY(1) translateX(-50%);
				opacity: 1;
				visibility: visible;
				transition-delay: 0s;
			}
		}
		@media screen and (min-width: $landscape-lg) {
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-wrap: wrap;
		}
		&__item {
			display: block;
			width: 100%;
			margin-bottom: 40px;
			text-align: center;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
			color: #fff;
			transition: all 0.3s linear;
			@media screen and (min-width: $landscape-lg) {
				width: auto;
				margin: 0;
				margin-right: 19px;
				color: #D2D5D7;
				&:hover {
					color: $brightgreen;
				}
				&:last-of-type {
					margin-right: 0;
				}
			}
			@media screen and (min-width: $desktop) {
				margin-right: 20px;
			}
		}
		&__callback {
			display: block;
			width: 100%;
			max-width: 260px;
			margin: 0 auto;
			border: none;
			outline: none;
			border: 1px solid $brightgreen;
			background-color: $brightgreen;
			border-radius: 6px;
			padding-top: 13px;
			padding-bottom: 13px;
			text-align: center;
			font-size: 16px;
			line-height: 18px;
			color: #fff;
			font-weight: bold;
			cursor: pointer;
			transition: all 0.3s linear;
			@media screen and (min-width: $landscape-lg) {
				max-width: 200px;
				position: absolute;
		    bottom: -75px;
		    right: 0px;
		    z-index: 10;
			}
			@media screen and (min-width: $desktop) {
				bottom: -40px;
			}
			@media screen and (min-width: 1600px) {
				bottom: 50%;
		    right: -225px;
		    transform: translateY(50%);
			}
			&:hover {
				background-color: #fff;
				color: $brightgreen;
			}
		}
	}
	&__phone__link {
		display: block;
		width: 100%;
		max-width: 150px;
		text-align: right;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		.worktime{
			color: $brightgreen;
			font-size: 12px;
			padding-top: 1em;
		}
	}
}
// .page__mainheader {
// 	width: 100%;
// 	margin-top: 0;
// 	@media screen and (min-width: $mobile) {
// 		margin-bottom: 40px;
// 		font-size: 28px;
// 		line-height: 36px;
// 		font-weight: 900;
// 		color: #fff;
// 		span {
// 			color: #A2C81F;
// 			@media screen and (min-width: $landscape-lg) {
// 				display: block;
// 			}
// 			&.small {
// 				display: block;
//    			font-size: 80%;
// 			}
// 		}
// 	}
// 	@media screen and (min-width: $desktop) {
// 		font-size: 50px;
// 		line-height: 65px;
// 	}
// }
.page__mainheader {
	padding-top: 50px;
	padding-bottom: 20px;
	h1,
	h2 {
		display: inline;
		width: auto;
		margin-bottom: 40px;
		font-size: 28px;
		line-height: 36px;
		font-weight: 900;
		color: #fff;
		span {
			color: #A2C81F;
			@media screen and (min-width: $landscape-lg) {
				display: block;
			}
			&.small {
				display: block;
			   font-size: 60%;
			   font-weight: 700;
			}
		}
		@media screen and (min-width: $desktop) {
			font-size: 44px;
    		line-height: 58px;
		}
	}
	h2 {
		&:last-of-type {
			width: 100%;
		}
	}

}
.page__mainlead {
	// max-width: 450px;
	display: none;
	width: 100%;
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	margin-top: 0;
	margin-bottom: 70px;
	@media screen and (min-width: $landscape-lg) {
		display: inline-block;
		width: auto;
	}

}
.course__descr {
	&__item {
		display: flex;
		margin-bottom: 30px;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
		&__icon {
			display: block;
			width: 100%;
			max-width: 40px;
			text-align: center;
			margin-right: 25px;
		}
		&__text {
			width: 100%;
			max-width: 70%;
			margin: 0;
			font-size: 14px;
			line-height: 18px;
			color: #fff;
		}
	}
}
.course__top__buttons__wrap {
	width: 100%;
	margin-bottom: 30px;
	@media screen and (min-width: $landscape-lg) {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	@media screen and (min-width: $desktop) {
		margin-top: 40px;
		margin-bottom: 70px;
	}
}
.course__top__button {
	display: block;
	width: 100%;
	max-width: 260px;
	margin: 0 auto;
	margin-bottom: 30px;
	border: none;
	outline: none;
	border: 1px solid $brightgreen;
	background-color: $brightgreen;
	border-radius: 6px;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s linear;
	&.what-u-get {
		background-color: transparent;
	}
	&:hover {
		background-color: #fff;
		color: $brightgreen;
	}
	@media screen and (min-width: $landscape-lg) {
		margin: 0;
		margin-right: 25px;
		&:last-of-type {
			margin-right: 0;
		}
	}
}
.page__breadcrumbs {
	width: 100%;
	margin-bottom: 30px;
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	&__item {
		display: block;
		position: relative;
		font-size: 14px;
		line-height: 16px;
		color: #A2C81F;
		padding-right: 15px;
		&::before {
			content: '/';
			position: absolute;
			top: 0;
			right: 0;
			width: 15px;
			height: 16px;
			font-size: 14px;
			line-height: 16px;
			color: #D2D5D7;
			text-align: center;
		}
		&:last-child {
			color: #D2D5D7;
			pointer-events: none;
			padding-right: 0;
			&::before {
				display: none;
			}
		}
	}
}



// Хэдкр с видео

.container-video-header {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    height: 100%;
    z-index: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    &:before {
    	content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-gradient(linear, left top, right top, color-stop(19.42%, #0B0B0B), color-stop(52.08%, rgba(11, 11, 11, 0.42)), color-stop(79.58%, #0B0B0B));
    background: linear-gradient(90deg, #0B0B0B 19.42%, rgba(11, 11, 11, 0.42) 52.08%, #0B0B0B 79.58%);
    }
    iframe {
height: 100%;
width: 100%;
    }
}

@media screen and (max-width: 1024px) {
	.container-video-header {
		display: none;
	}
}
