main{
	display: flex;
	flex-direction: column;
	#zero{
		order: 500;
	}
	.sectionline{
		order: 501;
	}
}


// Зеленая кнопка

.btnlink {
	display: block;
	width: 100%;
	max-width: 260px;
	margin: 0 auto;
	border: none;
	outline: none;
	border: 1px solid $brightgreen;
	background-color: $brightgreen;
	border-radius: 6px;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: center;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s linear;
	&:hover {
		background-color: #fff;
		color: $brightgreen;
	}
}
.leftbtn{
		.btnlink {
			margin-left: 0;
		}
}
// Стили для заголовков h2
.page__header {
	width: 100%;
	margin-top: 0;
	margin-bottom: 40px;
	line-height: 34px;
	font-size: 26px;
	font-weight: 900;
	color: #171C21;
	@media screen and (min-width: $landscape-lg) {
		font-size: 35px;
		line-height: 45px;
		margin-bottom: 50px;
	}
	&.light {
		color: #fff;
	}
	.subhead{
		display: block;
		font-size: 18px;
		font-weight: normal;
	}
}
.policy{
	color: #fff;
	margin-bottom: 2em;
	a{
		color: $brightgreen;
	}
}
.viewmore{
	color: $brightgreen;
}

.moreblock{
	.row{
		justify-content: center;
		@media screen and (min-width: $landscape-lg) {
			justify-content: flex-end;
			.viewmore{
				color: #A2C81F;
				margin-top: -1.2em;
				z-index: 1;
			}
		}
	}
}


// Что вы получите?
.what__youget__wrap {
	width: 100%;
	background-color: #fff;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 0px;
	&.foryou{
		background-color: #ececec;
		background-size: contain;
		background-position: left center;
		background-size: auto 110%;
		.container{
			position: relative;
			z-index: 1;	
		}
		&::after{
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			background: rgba(255,255,255,0.85);
		}
		@media screen and (min-width: 1200px) {
			&::after{
				display: none;
			}
		}
	}
	@media screen and (min-width: $landscape-lg) {
		padding-top: 100px;
		padding-bottom: 100px;
		background-size: 977px;
    background-position: right -185px;
	}
	.order-1 {
		order: 1;
		@media screen and (min-width: $landscape-lg) {
			order: 2;
		}
	}
	.order-2 {
		order: 2;
		@media screen and (min-width: $landscape-lg) {
			order: 1;
		}
	}
	&.totariffs{
		padding: 40px 15px;
		.container{
			background: radial-gradient(77.5% 1473.02% at 92.31% 71.12%, #3957C3 0%, #23398A 100%);
			border-radius: 10px;
			position: relative;
			display: flex;
			padding-top: 40px;
			padding-bottom: 40px;
			justify-content: center;
			&:after{
				z-index: 0;
				background-position: right center;
				background-repeat: no-repeat;
				background-size: cover;
				background-image: url('../img/antiq-turnback.png');
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 600px;
				content: '';
				border-radius: 0 10px 10px 0;
				@media screen and (max-width: 1024px) {
					opacity: 0.4;
				}
				@media screen and (max-width: 767px) {
					opacity: 0.2;
				}
			}
			@media screen and (min-width: $landscape-lg) {
				max-width: 1600px;
			}
			.row{
				position: relative;
				z-index: 1;
				color: #fff;
				max-width: 1024px;
				h2{
					color: #fff;
					max-width: 750px;	
					margin-bottom: 0;
				}
				.tariffholder{
					width: 100%;
					.tarifflist{
						margin-bottom: 40px;
						display: flex;
						flex-wrap: wrap;
						align-content: flex-start;
						align-items: flex-end;
						padding: 0 15px;
						@media screen and (max-width: 991px) {
							flex-direction: column;
						}
						ul{
							display: flex;
							flex-wrap: wrap;
							align-items: flex-start;
							padding: 0;
							margin-top: 0;
							margin-bottom: 0;
							@media screen and (max-width: 991px) {
								width: 100%;
							}
							li{
								margin-top: 60px;
								list-style: none;
								display: flex;
								flex-direction: column;
								margin-right: 40px;
								font-size: 26px;
								@media screen and (max-width: 991px) {
									font-size: 16px;
								}
								span{
									font-weight: 300;
									margin-bottom: 1em;
								}
								strong{
									padding-bottom: 20px;
									border-bottom: 1px solid rgba(255, 255, 255, 0.53);
								}
								.price{
									padding-top: 20px;
								}
							}
						}
						.btnlink{
							margin-top: 40px;
							margin-left: 0;
						}
					}
					.toankor.grey{
						padding: 0 15px;
						color: rgba(255, 255, 255, 0.53);
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.what__youget__list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	@media screen and (min-width: $desktop) {
		flex-direction: row;
	}
	&__item {
		width: 100%;
		position: relative;
		margin-bottom: 30px;
		padding-left: 25px;
		font-size: 16px;
		line-height: 21px;
		color: #171C21;
		&:last-of-type {
			margin-bottom: 0;
		}
		// @media screen and (min-width: $desktop) {
		// 	max-width: 43%;
		// 	margin-bottom: 30px;
		// 	&:nth-of-type(odd) {
		// 		margin-right: 100px;
		// 	}
		// }
		&::before {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-right: 3px solid $brightgreen;
			border-bottom: 3px solid $brightgreen;
			transform-origin: 0 0;
			transform: rotate(-45deg);
			top: 10px;
			left: 10px;
		}
	}
}
.what__youget__diplom {
	display: block;
	width: 100%;
	max-width: 520px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding: 0;
	line-height: 0;
	img {
		width: 100%;
	}
	@media screen and (min-width: $landscape-lg) {
		margin-bottom: 0;
		margin-top: -90px;
	}
}


// Расписание занятий
.learning__programm {
	&__wrap {
		width: 100%;
		background: url(../img/bg-learn.png) center top / cover;
		padding-top: 50px;
		padding-bottom: 50px;
		@media screen and (min-width: $landscape-lg) {
			padding-top: 70px;
			padding-bottom: 70px;
		}
	}
	&__block {
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		background-color: $white;
		border-radius: 5px;
		@media screen and (min-width: $landscape-lg) {
			margin-bottom: 40px;
		}
		&.outnumbered {
			@media screen and (min-width: $landscape-lg) {
				.learning__programm__slider__btn {
					display: block;
				}
				.learning__programm__block__lead {
					max-width: 85%;
				}
			}

		}
		&:first-of-type .learning__programm__block__wrap {
			display: block;
		}
		&__item {
			&:not(:last-of-type) {
				margin-bottom: 30px;
			}
			&__title {
				width: 100%;
				font-size: 15px;
				line-height: 21px;
				padding-left: 30px;
				color: #171C21;
				position: relative;
				// font-weight: bold;
				// text-transform: uppercase;
				&:before {
					content: '';
					position: absolute;
					width: 12px;
					height: 12px;
					background-color: $brightgreen;
					border-radius: 30px;
					left: 0;
					top: 3px;
				}
				@media screen and (min-width: $landscape-lg) {
					// font-size: 18px;
					// line-height: 23px;
				}
			}
			&__date {
				padding-left: 30px;
				width: 100%;
				margin-top: 5px;
				font-size: 14px;
				line-height: 18px;
				color: $maingrey;
			}
		}
		&__title {
			width: 100%;
			font-size: 16px;
			line-height: 130%;
			font-weight: bold;
			color: $woodsmoke;
			cursor: pointer;
			position: relative;
			padding: 20px 80px 20px 25px;
			@media screen and (min-width: $landscape-sm) {
				padding: 20px 100px 20px 50px;
			}
			
			&:after {
				content: url(../img/arrow.svg);
				position: absolute;
				right: 45px;
				top: 50%;
				transform: translateY(-50%);
				transition: .4s;
			}
			&.open:after {
				transform: translateY(-50%) scale(1, -1);
			}
		}
		&__lead {
			width: 100%;
			margin-top: 0;
			margin-bottom: 30px;
			font-size: 17px;
			line-height: 21px;
			color: $bluewood;
		}
		&__download {
			display: block;
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			border: none;
			outline: none;
			border: 1px solid $brightgreen;
			background-color: $brightgreen;
			border-radius: 6px;
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
			font-size: 16px;
			line-height: 18px;
			color: #fff;
			font-weight: bold;
			&:hover {
				background-color: #fff;
				color: $brightgreen;
			}
		}
		&__wrap {
			padding: 0 25px 30px;
			display: none;
			@media screen and (min-width: $landscape-sm) {
				padding: 0 100px 30px 50px;
			}
			&.open {
				display: block;
			}
		}
	}
}

// Наши преподаватели
.teachers__wrap {
	width: 100%;
	border-bottom: 1px solid #CCC;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.teachers__slider {
	padding: 25px 0px;
	@media screen and (min-width: $landscape-lg) {
		padding-bottom: 100px;
	}
	.teachers__slider__pagination  {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
			width: 100%;
			max-width: 960px;
			left: 50%;
			transform: translateX(-50%);
			text-align: left;
			bottom: 0;
			@media screen and (min-width: $desktop) {
				max-width: 1110px;
			}
			.swiper-pagination-bullet {
				width: 14px;
				height: 14px;
				border: 2px solid $brightgreen;
				background-color: #fff;
				margin: 0;
				margin-right: 20px;
				&:last-of-type {
					margin-right: 0;
				}
			}
			.swiper-pagination-bullet-active {
				border-color: $brightgreen;
				background-color: $brightgreen;
			}
		}
	}
	&__btn {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
			position: absolute;
			z-index: 5;
			outline: none;
			top: 0;
			right: 0;
			width: 46px;
			height: 46px;
			background-color: $brightgreen;
			border-radius: 50%;
			border: 1px solid $brightgreen;
			cursor: pointer;
			font-size: 0;
			transition: all 0.3s linear;
			&:hover {
				background-color: #fff;
				&.prev,
				&.next {
					&::before {
						border-color: $brightgreen;
					}
				}
			}
			&::before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				border-bottom: 3px solid #fff;
				transform-origin: 0 0;
				top: 50%;
				left: 50%;
				transition: border-color 0.3s linear;
			}
			&.prev {
				right: 66px;
				&::before {
					border-left: 3px solid #fff;
					transform: rotate(45deg) translate(-50%, -50%);
				}
			}
			&.next {
				&::before {
					border-right: 3px solid #fff;
					transform: rotate(-45deg) translate(-50%, -50%);
				}
			}
		}
	}
	&__wrapper {
		align-items: stretch;
		overflow: visible;
	}
	&__item {
		width: 230px;
		height: auto;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		background-color: #fff;
		box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		padding: 40px 20px;
		padding-bottom: 30px;
		&:hover {
			.teachers__slider__item__icon__link {
				background-color: #9D0BE2;
			}
		}
		@media screen and (min-width: $landscape-lg) {
			width: 360px;
			padding: 50px 30px;
		}
		&__icon {
			width: 160px;
			height: 160px;
			border-radius: 50%;
			position: relative;
			margin: 0 auto;
			margin-bottom: 30px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			&__link {
				display: block;
				position: absolute;
				z-index: 25;
				bottom: 0;
				right: -30px;
				width: 59px;
				height: 59px;
				border-radius: 50%;
				background-color: #A2C81F;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				&:hover {
					background-color: #9D0BE2;
				}
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: 55%;
					transform: translate(-50%, -50%);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 13px 0 13px 20px;
					border-color: transparent transparent transparent #ffffff;
				}
			}
		}
		&__name {
			width: 100%;
			margin-bottom: 20px;
			text-align: center;
			font-size: 18px;
			line-height: 23px;
			font-weight: bold;
			color: #171C21;
		}
		&__descr {
			width: 100%;
			margin-bottom: 30px;
			text-align: center;
			font-size: 12px;
			line-height: 18px;
			color: #171C21;
			@media screen and (min-width: $landscape-lg) {
				font-size: 14px;
				line-height: 21px;
				padding: 0px 5px;
			}
		}
		&__link {
			display: block;
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			margin-top: auto;
			border: none;
			outline: none;
			border: 1px solid $brightgreen;
			background-color: $brightgreen;
			border-radius: 6px;
			padding-top: 13px;
			padding-bottom: 13px;
			text-align: center;
			font-size: 14px;
			line-height: 16px;
			color: #fff;
			font-weight: bold;
			@media screen and (min-width: $landscape-lg) {
				font-size: 16px;
				line-height: 18px;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			&:hover {
				background-color: #fff;
				color: $brightgreen;
			}
		}
	}
}

@media screen and (min-width: 1000px){
	.video__block{
		.teachers__slider__btn{
			&.prev:hover::before,
			&.next:hover::before {
				border-color: #fff;
			}
		}
	}
	
}

body{
	.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content{
		cursor: default;
	}
}

// Кому подойдет этот курс
.who__approach {
	width: 100%;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	&__item {
		display: block;
		width: 100%;
		max-width: 300px;
		margin-bottom: 40px;
		@media screen and (min-width: $landscape-lg) {
			margin-bottom: 0;
		}
		&__image {
			display: block;
			width: 100%;
			max-width: 220px;
			margin-bottom: 30px;
		}
		&__title {
			width: 100%;
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 22px;
			line-height: 28px;
			font-weight: bold;
			color: #171C21;
		}
		&__descr {
			width: 100%;
			margin: 0;
			font-size: 16px;
			line-height: 21px;
			color: #171C21;
		}
	}
}
// Стоимость

.tarifs__block {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-position: top right;
	background-size: contain;
	background-repeat: no-repeat;
	background: url('../img/tarif-block-bg.png') no-repeat,
	            linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 100%);
	background-position: top right -75px;
	background-size: 200px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 70px;
		padding-bottom: 70px;
		background-size: 387px;
		background-position: top right;
	}
	&__descr {
		width: 100%;
		margin: 0;
		font-size: 16px;
		line-height: 21px;
		color: #171C21;
	}
}
.tarifs__slider {
	overflow: visible;
	&__wrap {
		display: flex;
		align-items: stretch;
		padding: 50px 0;
		&.tarifs_single {
			justify-content: center;
		}
	}
	&__slide {
		width: 260px;
		margin-left: 20px;
		background-color: #fff;
		box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		padding: 30px 20px;
		&:first-of-type {
			margin-left: 0;
			&:last-of-type{
				margin-left: auto;
				margin-right: auto;
			}
		}
		.tarifs__slider__slide__price {
			opacity: 0.2;
			position: relative;
			flex-wrap: wrap;
			border-top: 1px solid #999999;;
			&+.noopacity {
				opacity: 1;	
			}
			&.noopacity {
				opacity: 1;	
				&+.noopacity {
					opacity: 0.2;	
				}
			}
			.tarifs__slider__slide__price__cost {
				margin-left: auto;
			}
			&:first-of-type{
				margin-top: 20px;
				align-items: flex-end;
				opacity: 1;
				// border: none;
				// border-radius: 5px;
				// box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
				// background: #fff;
				border-top: none;
				&:before{
					padding: 3px 5px;
					border-radius: 3px;
					background: #FFCA2B;
					position: absolute;
					top: -10px;
					right: 0;
					content: 'Актуальная цена';
					color: #000;
					font-size: 12px;
					flex: 0 0 auto;	
				}
				.tarifs__slider__slide__price__cost {
					font-size: 33px;
				}
				// span{
				// 	color: $brightgreen;
					
				// }
				.bigcross{
					width: 100%;
					position: absolute;
					z-index: 2;
					top: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					svg{
						height: 80%;
						width: 80%;
						transform: rotate(-5deg);
						fill: $brightgreen;
					}
				}
			}
			// &.zen{
			// 	&:first-of-type{
			// 		&:before{
			// 			content: 'Цена с учётом скидки 50%';
			// 		}
			// 	}
			// }
			// &:nth-of-type(2){
			// 	border-color: transparent!important;
			// }
		}
		&.optima {
			background: linear-gradient(180deg, #5777ED 0%, #304AA9 100%);
			.tarifs__slider__slide__title,
			.tarifs__slider__slide__desc,
			.tarifs__slider__slide__price__date,
			.tarifs__slider__slide__price__cost,
			.tarifs__slider__slide__attention {
				color: #fff;
			}
			.tarifs__slider__slide__list__item {
				color: #fff;
				span {
					color: #B2BCE0;
				}
				&::before {
					border-color: #fff;
				}
			}
			.tarifs__slider__slide__price {
				border-color: #fff;
				// &:first-of-type{
				// 	span{
				// 		color: $brightgreen;
				// 	}
					
				// }
				
			}
		}
		@media screen and (min-width: $landscape-lg) {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			height: auto;
			width: 360px;
			padding: 30px;
			margin-left: 30px;
		}
		&__title {
			width: 100%;
			margin: 0;
			margin-bottom: 0.5em;
			font-size: 20px;
			line-height: 26px;
			color: #000;
			font-weight: bold;
			@media screen and (min-width: $landscape-lg) {
				font-size: 28px;
				line-height: 36px;
			}
		}
		&__desc {
			font-style: italic;
			display: block;
			width: 100%;
			margin: 0;
			margin-bottom: 3em;
			font-size: 14px;
			line-height: 20px;
			color: #000;
		}
		&__list {
			width: 100%;
			margin: 0;
			margin-bottom: 20px;
			padding: 0;
			list-style-type: none;
			&__item {
				width: 100%;
				position: relative;
				margin-bottom: 10px;
				padding-left: 25px;
				font-size: 14px;
				line-height: 18px;
				color: #000;
				&::before {
					content: '';
					position: absolute;
					width: 7px;
					height: 7px;
					border-right: 2px solid #000;
					border-bottom: 2px solid #000;
					top: 5px;
					left: 0;
					transform: rotate(-45deg);
				}
				span {
					display: block;
					font-size: 12px;
					line-height: 14px;
					color: #999;
					margin-top: 5px;
					margin-bottom: 5px;
				}
			}
		}
		&__price {
			width: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-right: 5px;
			padding-left: 5px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: nowrap;
			border-top: 1px solid #CCCCCC;
			&__date {
				font-size: 14px;
				line-height: 18px;
				color: #999;
			}
			&__cost {
				font-size: 18px;
				line-height: 23px;
				color: #000;
				font-weight: bold;
				@media screen and (min-width: $landscape-lg) {
					font-size: 22px;
					line-height: 28px;
				}
			}
		}
		&__link {
			display: block;
			width: 100%;
			max-width: 220px;
			margin: 0 auto;
			margin-top: 30px;
			border: 1px solid $brightgreen;
			background-color: $brightgreen;
			border-radius: 6px;
			padding-top: 13px;
			padding-bottom: 13px;
			text-align: center;
			font-size: 16px;
			line-height: 18px;
			color: #fff;
			font-weight: bold;
			@media screen and (min-width: $landscape-lg) {
				max-width: 300px;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			&:hover {
				background-color: #fff;
				color: $brightgreen;
			}
		}
		&__attention {
			width: 100%;
	    margin-top: auto;
	    margin-bottom: 10px;
	    font-size: 18px;
	    line-height: 23px;
	    color: #000;
	    font-weight: bold;
		}
	}
}

// Кредит
.credit__block {
	width: 100%;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url('../img/credit-block-bg.png');
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 120px;
		padding-bottom: 75px;
		background-size: contain;
	}
	@media screen and (min-width: $desktop) {
		background-size: 1212px;
	}
	&__descr {
		width: 100%;
		margin-top: 0;
		margin-bottom: 40px;
		font-size: 16px;
		line-height: 21px;
		color: #fff;
		@media screen and (min-width: $landscape-lg) {
			margin-bottom: 0;
		}
	}
	&.mug{
		.credit__block__descr{
			font-size: 20px;
			font-weight: 700;
    	line-height: 1.4em;
		}
		.credit__request{
			max-width: 410px;
			padding-top: 250px;
			background-image: url(../img/mug.jpg);
			background-position: center top;
			background-size: cover;
			background-repeat: no-repeat;
		}

	}
}

.credit__request {
	width: 100%;
	max-width: 280px;
	margin: 0 auto;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	border-radius: 10px;
	padding: 30px 20px;
	@media screen and (min-width: $landscape-sm) {
		max-width: 360px;
		margin: 0 auto;
		padding: 30px;
	}
	&__text {
		width: 100%;
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 21px;
		color: #000;
	}
	&__push {
		width: 100%;
		max-width: 240px;
		border: none;
		outline: none;
		border: 1px solid $brightgreen;
		border-radius: 6px;
		background-color: $brightgreen;
		padding-top: 13px;
		padding-bottom: 13px;
		text-align: center;
		font-size: 16px;
		line-height: 18px;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		transition: all 0.3s linear;
		@media screen and (min-width: $landscape-sm) {
			max-width: 300px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&:hover {
			background-color: #fff;
			color: $brightgreen;
		}
	}
}
#credit__request__options-button {
	width: 100%;
	margin-top: 20px;

}

// Custom selectmenu
.ui-selectmenu-button.ui-button {
	display: block;
	position: relative;
	width: 100%;
	outline: none;
	border: 1px solid #CCCCCC;
	background-color: #fff;
	border-radius: 5px;
	margin: 0;
	margin-bottom: 10px;
	font-family: $mainfont;
	font-size: 16px;
	line-height: 18px;
	color: #999;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 20px;
	transition: all 0.3s linear;
	@media screen and (min-width: $landscape-sm) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&::before {
		content: '';
		position: absolute;
		width: 10px;
		height: 10px;
		border-right: 2px solid #171C21;
		border-bottom: 2px solid #171C21;
		transform: rotate(45deg) translateY(-50%);
		top: 45%;
		right: 20px;
	}
}
.ui-selectmenu-button-open.ui-button {
	border-bottom-color: transparent;
	border-radius: 5px 5px 0px 0px;
}
.ui-menu.ui-widget {
	margin-top: -1px;
	padding-bottom: 0;
	border: 1px solid #CCCCCC;
	border-top-color: transparent;
	border-radius: 0px 0px 5px 5px;
}
.ui-menu .ui-menu-item-wrapper {
	border: none;
	font-family: $mainfont;
	font-size: 16px;
	line-height: 18px;
	color: #999;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 20px;
	transition: all 0.3s linear;
	margin: 0;
	@media screen and (min-width: $landscape-sm) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
.ui-menu-item-wrapper.ui-state-active {
	margin: 0;
	background-color: $brightgreen;
	color: #fff;
}

// Refund
.refund__block {
	width: 100%;
	background-color: #fff;
	padding-top: 90px;
	padding-bottom: 50px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 105px;
	}
}

// Reviews
.reviews__wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: linear-gradient(180deg, #343B57 0%, #1D2232 100%), #F5F5F5;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.reviews__slider {
	padding: 25px 0px;
	@media screen and (min-width: $landscape-lg) {
		padding-bottom: 100px;
	}
	.reviews__slider__pagination  {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
			width: 100%;
			max-width: 960px;
			left: 50%;
			transform: translateX(-50%);
			text-align: left;
			bottom: 0;
			@media screen and (min-width: $desktop) {
				max-width: 1110px;
			}
			.swiper-pagination-bullet {
				opacity: 1;
				width: 14px;
				height: 14px;
				border: 2px solid #C4C4C4;
				background-color: #fff;
				margin: 0;
				margin-right: 20px;
				&:last-of-type {
					margin-right: 0;
				}
			}
			.swiper-pagination-bullet-active {
				border-color: $brightgreen;
				background-color: $brightgreen;
			}
		}
	}
	&__btn {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
			position: absolute;
			z-index: 5;
			outline: none;
			top: 0;
			right: 0;
			width: 46px;
			height: 46px;
			background-color: #fff;
			border-radius: 50%;
			border: 1px solid #CCCCCC;
			cursor: pointer;
			font-size: 0;
			transition: border-color 0.3s linear;
			&:hover {
				border-color: $brightgreen;
			}
			&::before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				border-bottom: 3px solid $brightgreen;
				transform-origin: 0 0;
				top: 50%;
				left: 50%;
			}
			&.prev {
				right: 66px;
				&::before {
					border-left: 3px solid $brightgreen;
					transform: rotate(45deg) translate(-50%, -50%);
				}
			}
			&.next {
				&::before {
					border-right: 3px solid $brightgreen;
					transform: rotate(-45deg) translate(-50%, -50%);
				}
			}
		}
	}
	&__wrapper {
		align-items: stretch;
		overflow: visible;
	}
	&__item {
		width: 230px;
		height: auto;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		background-color: #fff;
		box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		padding: 40px 20px;
		padding-bottom: 30px;
		@media screen and (min-width: $landscape-lg) {
			width: 360px;
			padding: 50px 30px;
		}
		@media screen and (min-width: 1300px) {
			width: 930px;
			padding: 30px;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
		&__icon {
			display: block;
			width: 160px;
			height: 160px;
			border-radius: 50%;
			position: relative;
			margin: 0 auto;
			margin-bottom: 40px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 7;
			&::before {
				content: '';
				position: absolute;
				z-index: 7;
				width: 42px;
				height: 42px;
				border-radius: 50%;
				background-color: #3A6EBC;
				background-image: url('../img/facebook-logo.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 25px;
				bottom: 0;
				right: 0;
			}
			img {
				position: relative;
				width: 100%;
				z-index: 5;
			}
		}
		&__name {
			width: 100%;
			margin-bottom: 30px;
			text-align: center;
			font-size: 22px;
			line-height: 28px;
			font-weight: bold;
			color: #000000;
		}
		&__text {
			width: 100%;
			position: relative;
			max-width: 300px;
			margin: 0 auto;
			padding-top: 40px;
			text-align: center;
			font-size: 14px;
			line-height: 21px;
			color: #171C21;
			text-align: center;
			&::before {
				content: '';
				position: absolute;
				width: 17px;
				height: 14px;
				background-image: url('../img/quotes.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&__image {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex-grow: 1;
			@media screen and (min-width: 1300px) {
				max-width: 610px;
				min-height: unset;
			}
			a {
				display: block;
				width: auto;
				outline: none;
			}
			img {
				max-width: 100%;
				height: auto;
				max-height: 150px;
				@media screen and (min-width: 1300px) {
					max-height: 200px;
				}
			}
		}
	}
}

// stydentworks
#studentworks{
	padding-top: 50px;
}
.studentworks__wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #4f145f;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.studentworks__wrap {
	padding: 25px 10px;
	@media screen and (min-width: $landscape-lg) {
		padding-bottom: 100px;
	}
	.studentworks__wrap__pagination  {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
			width: 100%;
			max-width: 960px;
			left: 50%;
			transform: translateX(-50%);
			text-align: left;
			bottom: 0;
			@media screen and (min-width: $desktop) {
				max-width: 1110px;
			}
			.swiper-pagination-bullet {
				opacity: 1;
				width: 14px;
				height: 14px;
				border: 2px solid #C4C4C4;
				background-color: #fff;
				margin: 0;
				margin-right: 20px;
				&:last-of-type {
					margin-right: 0;
				}
			}
			.swiper-pagination-bullet-active {
				border-color: $brightgreen;
				background-color: $brightgreen;
			}
		}
	}
	&__btn {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
			position: absolute;
			z-index: 5;
			outline: none;
			top: 0;
			right: 0;
			width: 46px;
			height: 46px;
			background-color: #fff;
			border-radius: 50%;
			border: 1px solid #CCCCCC;
			cursor: pointer;
			font-size: 0;
			transition: border-color 0.3s linear;
			&:hover {
				border-color: $brightgreen;
			}
			&::before {
				content: '';
				position: absolute;
				width: 8px;
				height: 8px;
				border-bottom: 3px solid $brightgreen;
				transform-origin: 0 0;
				top: 50%;
				left: 50%;
			}
			&.prev {
				right: 66px;
				&::before {
					border-left: 3px solid $brightgreen;
					transform: rotate(45deg) translate(-50%, -50%);
				}
			}
			&.next {
				&::before {
					border-right: 3px solid $brightgreen;
					transform: rotate(-45deg) translate(-50%, -50%);
				}
			}
		}
	}
	&__wrapper {
		align-items: stretch;
		overflow: visible;
	}
	&__item {
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		background-color: #fff;
		box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		padding: 40px 20px;
		padding-bottom: 30px;
		@media screen and (min-width: 1300px) {
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
		}

		&__left {
			width: 100%;
		}
		&__name {
			width: 100%;
			margin-bottom: 15px;
			text-align: center;
			font-size: 22px;
			line-height: 28px;
			font-weight: bold;
			color: $brightgreen;
			color: #000000;
		}
		&__subhead {
			margin-bottom: 35px;
			font-size: 18px;
			width: 100%;
			text-align: center;
		}
		&__image {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex-grow: 1;
			@media screen and (min-width: 1300px) {
				max-width: 410px;
				min-height: unset;
			}
			a {
				display: block;
				width: auto;
				outline: none;
			}
			img {
				max-width: 100%;
				height: auto;

			}
		}
	}
	.swiper-pagination-bullet{
		background: #fff;
	}
}

// Video block

.video__block {
	width: 100%;
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 50px;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	+ .online__chat__wrap {
		padding-top: 125px;
	}
	.teachers__slider__btn{
		margin-right: 30px;
		margin-top: 15px;
		display: block;
		position: absolute;
		z-index: 5;
		outline: none;
		top: 0;
		right: 0;
		width: 46px;
		height: 46px;
		background-color: #A2C81F;
		border-radius: 50%;
		border: 1px solid #A2C81F;
		cursor: pointer;
		font-size: 0;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		&:before {
		    content: '';
		    position: absolute;
		    width: 8px;
		    height: 8px;
		    border-bottom: 3px solid #fff;
		    -webkit-transform-origin: 0 0;
		    transform-origin: 0 0;
		    top: 50%;
		    left: 50%;
		    -webkit-transition: border-color 0.3s linear;
		    transition: border-color 0.3s linear;
		}
		&.prev{
			right: 66px;
			&:before {
					border-left: 3px solid #fff;
					-webkit-transform: rotate(45deg) translate(-50%, -50%);
					transform: rotate(45deg) translate(-50%, -50%);
			}
		}
		&.next{
			&:before {
			    border-right: 3px solid #fff;
			    -webkit-transform: rotate(-45deg) translate(-50%, -50%);
			    transform: rotate(-45deg) translate(-50%, -50%);
			}
		}
	}
}
.video__container {
	display: block;
	position: relative;
	width: 100%;
	max-width: 280px;
	min-height: 178px;
	margin: 0 auto;
	margin-bottom: -139px;
	border-radius: 10px;
	box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.15);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&::before {
		content: '';
		position: absolute;
		z-index: 5;
		width: 30px;
		height: 30px;
		cursor: pointer;
		background-image: url('../img/play-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	@media screen and (min-width: $landscape-sm) {
		max-width: 376px;
		min-height: 238px;
		&::before {
			width: 64px;
			height: 64px;
		}
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 752px;
		min-height: 476px;
		margin-bottom: -131px;
	}
}

// FAQ
.faq__wrap {
	width: 100%;
	background-color: #F5F5F5;
	padding-top: 70px;
	padding-bottom: 50px;
	@media screen and (min-width: $landscape-sm) {
		padding-bottom: 70px;
	}
}

.faq__block {
	width: 100%;
	&__item {
		width: 100%;
		position: relative;
		z-index: 5;
		max-width: 280px;
		margin: 0 auto;
		margin-bottom: 20px;
		box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.15);
		border-radius: 10px;
		padding: 30px 35px;
		@media screen and (min-width: $landscape-sm) {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: nowrap;
			max-width: 730px;
			margin: 0;
			margin-bottom: 30px;
		}
		&::before {
			content: '';
			position: absolute;
			z-index: -1;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 44px 26px 0 26px;
		}
		&.question {
			background-color: #343b57;
			color: #fff;
			&::before {
				border-color: #343b57 transparent transparent transparent;
				top: 30px;
				left: -16px;
			}
		}
		&.answer {
			background-color: #fff;
			color: #171C21;
			@media screen and (min-width: $landscape-lg) {
				margin-left: 80px;
			}
			&::before {
				border-color: #fff transparent transparent transparent;
				top: 30px;
				right: -16px;
			}
		}
		&__title {
			display: block;
			width: 100%;
			margin-bottom: 15px;
			font-size: 22px;
			line-height: 28px;
			font-weight: bold;
			@media screen and (min-width: $landscape-sm) {
				max-width: 150px;
			}
		}
		&__text {
			width: 100%;
			margin: 0;
			font-size: 14px;
			line-height: 21px;
		}
	}
}

// Online chat
.online__chat__wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #fff;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}
.online__chat__header {
	width: 100%;
	margin-bottom: 20px;
	font-size: 26px;
	line-height: 24px;
	font-weight: 900;
	color: #171C21;
	@media screen and (min-width: $landscape-sm) {
		font-size: 35px;
		line-height: 45px;
	}
	span {
		color: #A2C81F;
	}
}
.online__chat__text {
	width: 100%;
	margin-top: 0;
	font-size: 16px;
	line-height: 21px;
	color: #171C21;

	a {
		color: #A2C81F;
	}
}

// Записаться на курс
.signup__form__wrap {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url('../img/signup-bg-mob.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@media screen and (min-width: $landscape-lg) {
		padding-top: 70px;
		padding-bottom: 70px;
		background-image: url('../img/signup-bg-desk.png');
	}
}
.signup__form {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	@media screen and (min-width: $landscape-sm) {
		justify-content: space-between;
	}
	@media screen and (min-width: $landscape-lg) {
		max-width: 750px;
		margin-left: 0;
	}
	&__input {
		display: block;
		position: relative;
		width: 100%;
		max-width: 360px;
		margin: 0;
		margin-bottom: 30px;
		border: none;
		background-color: transparent;
		outline: none;
		border: 2px solid #CCCCCC;
		border-radius: 5px;
		background-color: #fff;
		padding: 20px;
		font-size: 16px;
		line-height: 18px;
		color: #999;
		transition: border-color 0.3s linear;
		&.error {
			border-color: #D20808;
			+ .error-text {
				transform: translateY(0px);
				opacity: 1;
			}
		}
		&:focus {
			border-color: $brightgreen;
		}
		
		@media screen and (max-width: 991px) {
			padding: 15px 20px;
		}
		

	}
	.oldprice{
		transition: all 0.3s ease;
		opacity: 0;
		visibility: hidden;
		width: auto;
		display: inline-block;
		position: relative;
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 1em;
		color: $brightgreen;
		span{
			font-size: 24px;
			font-weight: 700;
			position: relative;
			&:after{
				content: '';
				width: 110%;
				height: 2px;
				background-color: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -48%) rotate(-6deg);
			}
		}
		
		&.vis{
			opacity: 1;
			visibility: visible;			
		}
	}
	.totalsumm{
		font-size: 20px;
		font-weight: 700;
		color: $brightgreen;
		position: relative;
		span{
			font-size: 24px;
		}
	}
	.error-text {
		position: absolute;
		width: auto;
		height: auto;
		border-radius: 6px;
		text-align: center;
		padding: 5px 10px;
		background-color: #D20808;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		transform: translateY(10px);
		opacity: 0;
		transition: all 0.3s linear;
		top: -25px;
		right: 0;
	}
	.ui-selectmenu-button.ui-button {
		max-width: 360px;
		margin-bottom: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		@media screen and (max-width: 991px) {
			padding: 15px 20px;
		}
	}
	&__checkbox__block {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@media screen and (min-width: $landscape-sm) {
			justify-content: space-between;
		}
	}
	
	&__checkbox__wrap,
	&__input__wrap {
		width: 100%;
		position: relative;
		max-width: 360px;
		margin-bottom: 30px;
		
		.promobtn{
			cursor: pointer;
			line-height: 38px;
			height: 58px;
			position: absolute;
			top: 2px;
			right: 2px;
			border-radius: 35px 5px 5px 35px;
			color: #fff;
			font-size: 20px;
			font-weight: 900;
			padding: 10px 25px;
			box-sizing: border-box;
			&[data-add]{
				background-color: #521F71;
			}
			&[data-remove]{
				display: none;
				background-color: #666;
			}
			&:focus,
			&:hover{
				opacity: 0.7;
			}
			@media screen and (max-width: 991px) {
				height: 48px;
				padding: 5px 25px;
				font-size: 16px;
			}
		}
	}
	&__input__wrap {
		@media screen and (max-width: 991px) {
			margin-bottom: 0px;
		}
	}
	&__checkbox {
		display: none;
		&:checked {
			+ .signup__form__label {
				&::after {
					opacity: 1;
					transform: rotate(-45deg) translateY(-50%) scaleX(1);
				}
			}
		}
	}
	&__label {
		display: block;
		width: 100%;
		position: relative;
		padding-left: 60px;
		font-size: 14px;
		padding-top: 9px;
		padding-bottom: 9px;
		line-height: 18px;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		&::before {
			content: '';
			position: absolute;
			width: 35px;
			height: 35px;
			border-radius: 10px;
			background-color: #fff;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
		&::after {
			content: '';
			position: absolute;
			width: 15px;
    	height: 9px;
			border-left: 4px solid $brightgreen;
			border-bottom: 4px solid $brightgreen;
			top: 45%;
    	left: 13px;
    	opacity: 0;
			transform: rotate(-45deg) translateY(-50%) scaleX(0);
			transition: all 0.2s linear;
		}
	}
	&__submit {
		display: block;
		width: 100%;
		max-width: 300px;
		margin: 0 auto;
		border: none;
		outline: none;
		border: 1px solid $brightgreen;
		border-radius: 6px;
		background-color: $brightgreen;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 22px;
		line-height: 18px;
		font-weight: bold;
		color: #fff;
		text-align: center;
		transition: all 0.3s linear;
		cursor: pointer;
		&:hover {
			background-color: #fff;
			color: $brightgreen;
		}
		@media screen and (min-width: $landscape-lg) {
			margin-left: 0;
		}
	}
	&__succsess {
		width: 100%;
		display: none;
		p {
			width: 100%;
			font-size: 18px;
			line-height: 24px;
			font-weight: bold;
			color: #fff;
			margin-top: 0;
			margin-bottom: 30px;
			@media screen and (min-width: $landscape-lg) {
				font-size: 22px;
				line-height: 30px;
			}
		}
		&__payment {
			display: block;
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			margin-bottom: 10px;
			border: none;
			outline: none;
			border: 1px solid $brightgreen;
			border-radius: 6px;
			background-color: $brightgreen;
			padding-top: 20px;
			padding-bottom: 20px;
			font-size: 16px;
			line-height: 18px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			transition: all 0.3s linear;
			cursor: pointer;
			&:hover {
				background-color: #fff;
				color: $brightgreen;
			}
			@media screen and (min-width: $landscape-lg) {
				margin-left: 0;
			}
		}
		&__link {
			display: block;
			width: 100%;
			font-size: 14px;
			line-height: 16px;
			color: $brightgreen;
			text-align: center;
			@media screen and (min-width: $landscape-lg) {
				text-align: left;
			}
		}
	}
}

// Кто мы такие?
.about__us {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background: linear-gradient(180deg, #343B57 0%, #1D2232 100%);
	@media screen and (min-width: $landscape-lg) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	&.unsuitable{
		background: #232323;
	}
	.text {
		position: relative;
		padding-left: 30px;
		margin-bottom: 20px;
		@media screen and (min-width: $landscape-lg) {
			margin-bottom: 40px;
		}
		p {
			max-width: 475px;
			margin: 0;
			font-size: 18px;
			line-height: 23px;
			color: #fff;
		}
		&::before {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border-right: 2px solid $brightgreen;
			border-bottom: 2px solid $brightgreen;
			top: 7px;
			left: 7px;
			transform: rotate(-45deg);
			@media screen and (min-width: $landscape-lg) {
				left: 0;
			}
		}
	}
}

// Блок эксперта
.expert__block {
	width: 100%;
	background-color: #ECECEC;
	padding-top: 50px;
	padding-bottom: 50px;
	@media screen and (min-width: $desktop) {
		padding: 30px;
	}
	.container-fluid {
		padding: 0;
		@media screen and (min-width: $desktop) {

			padding-top: 15px;
		}
	}
	.order-sm-2 {
		order: 2;
		@media screen and (min-width: $landscape-lg) {
			order: 0;
		}
	}
	p {
		margin-top: 0;
	}
	&__image {
		width: 100%;
		max-width: 220px;
		margin: 0 auto;
		position: relative;
		z-index: 5;
		@media screen and (min-width: $landscape-lg) {
			max-width: 294px;
			margin-left: 0;
		}
		@media screen and (min-width: $desktop) {
			margin-bottom: -30px;
		}
		&::before {
			content: '';
			position: absolute;
			z-index: 5;
			width: 270px;
			height: 270px;
			border-radius: 50%;
			background: linear-gradient(180deg, #C54EFD 0%, #9D0BE2 100%);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@media screen and (min-width: $landscape-lg) {
				width: 360px;
				height: 360px;
			}
		}
		img {
			display: block;
			width: 100%;
			position: relative;
			z-index: 7;
		}
		&.wrapped{
			border: 2px solid #C54EFD;
			width: 220px;
			height: 220px;
			background-position: top center;
			background-size: cover;
			border-radius: 50%;
			margin-top: 20px;
			@media screen and (min-width: $landscape-lg) {
				width: 404px;
		    height: 404px;
		    max-width: 404px;
				margin-top: 10px;
			}
			@media screen and (min-width: $desktop) {
				width: 534px;
				height: 534px;
				max-width: 534px;
				margin-bottom: 0px;
			}
			&::before {
				display: none;
			}
		}
	}
	&__info {
		width: 100%;
		&__status {
			width: 100%;
			margin-bottom: 15px;
			span {
				background-color: #9D0BE2;
				width: auto;
				padding: 6px 13px;
				border-radius: 6px;
				text-align: center;
				font-size: 16px;
				line-height: 21px;
				text-transform: uppercase;
				color: #fff;
				font-weight: bold;
			}
		}
		&__name {
			width: 100%;
			margin-bottom: 30px;
			font-size: 21px;
			line-height: 26px;
			font-weight: 900;
			color: #171C21;
		}
		&__text {
			width: 100%;
			font-size: 14px;
			line-height: 18px;
			color: #171C21;
			b {
				display: block;
				font-weight: bold;
			}
		}
	}
}
.homework__block {
	width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(180deg, #343B57 0%, #1D2232 100%), #F5F5F5;
  @media screen and (min-width: $landscape-lg) {
  	padding-top: 100px;
    padding-bottom: 70px;
  }
}
.homework__slider {
	@media screen and (min-width: $landscape-lg) {
		padding-bottom: 100px;
	}
	.homework__slider__pagination {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
	    width: 100%;
	    max-width: 960px;
	    left: 50%;
	    transform: translateX(-50%);
	    text-align: left;
	    bottom: 0;
		}
		@media screen and (min-width: $desktop) {
			max-width: 1110px;
		}
		.swiper-pagination-bullet {
		  width: 14px;
	    height: 14px;
	    border: 2px solid #C4C4C4;
	    background-color: #fff;
	    margin: 0;
	    margin-right: 20px;
	    &.swiper-pagination-bullet-active {
	    	border-color: #A2C81F;
    		background-color: #A2C81F;
	    }
		}
	}
	&__btn {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
	    position: absolute;
	    z-index: 5;
	    outline: none;
	    top: 0;
	    right: 0;
	    width: 46px;
	    height: 46px;
	    background-color: #fff;
	    border-radius: 50%;
	    border: 1px solid #CCCCCC;
	    cursor: pointer;
	    font-size: 0;
	    transition: border-color 0.3s linear;
	    &::before {
	    	content: '';
		    position: absolute;
		    width: 8px;
		    height: 8px;
		    border-bottom: 3px solid #A2C81F;
		    transform-origin: 0 0;
		    top: 50%;
		    left: 50%;
	    }
	    &.next {
	    	&::before {
					border-right: 3px solid #A2C81F;
			    transform: rotate(-45deg) translate(-50%, -50%);
	    	}
	    }
	    &.prev {
	    	right: 66px;
	    	&::before {
	    		border-left: 3px solid #A2C81F;
			    transform: rotate(45deg) translate(-50%, -50%);
	    	}
	    }
		}
	}
	&__wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	&__item {
		width: 100%;
		max-width: 260px;
		min-height: 500px;
		margin-right: 20px;
		padding: 5px;
		background-color: #fff;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		box-shadow: 0px 4px 39px rgba(0, 0, 0, 0.15);
		@media screen and (min-width: $landscape-lg) {
			max-width: 360px;
			padding: 10px;
			min-height: 520px;
			margin-right: 30px;
		}
		&__link {
			display: block;
			width: 100%;
			margin-top: auto;
			outline: none;
			img {
				width: 100%;
			}
		}
		&__teacher {
			width: 100%;
			margin-top: auto;
			margin-bottom: 50px;
			text-align: center;
			font-size: 14px;
			line-height: 21px;
			color: #171C21;
			a, strong {
				display: block;
				width: 100%;
				margin-top: 10px;
				text-align: center;
				font-size: 22px;
				line-height: 28px;
				font-weight: bold;
				color: #000;

			}
			a{
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}

			.position{
				display: block;
				padding-top: 0.5em;
				color: #999;
			}
		}
	}
	&__pagination {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
	    width: 100%;
	    max-width: 960px;
	    left: 50%;
	    transform: translateX(-50%);
	    text-align: left;
	    bottom: 0;
		}
		@media screen and (min-width: $desktop) {
			max-width: 1110px;
		}
		.swiper-pagination-bullet {
		  width: 14px;
	    height: 14px;
	    border: 2px solid #C4C4C4;
	    background-color: #fff;
	    margin: 0;
	    margin-right: 20px;
	    &.active {
	    	border-color: #A2C81F;
    		background-color: #A2C81F;
	    }
		}
	}
}
.logo__block {
	width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  @media screen and (min-width: $landscape-lg) {

    padding-bottom: 70px;
  }
}
.logo__block__slider {

	&__pagination {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
	    width: 100%;
	    max-width: 960px;
	    left: 50%;
	    transform: translateX(-50%);
	    text-align: left;
	    bottom: 0;
		}
		@media screen and (min-width: $desktop) {
			max-width: 1110px;
		}
		.swiper-pagination-bullet {
		  width: 14px;
	    height: 14px;
	    border: 2px solid #C4C4C4;
	    background-color: #fff;
	    margin: 0;
	    margin-right: 20px;
	    &.swiper-pagination-bullet-active {
	    	border-color: #A2C81F;
    		background-color: #A2C81F;
	    }
		}
	}
	&__btn {
		display: none;
		@media screen and (min-width: $landscape-lg) {
			display: block;
	    position: absolute;
	    z-index: 5;
	    outline: none;
	    top: 0;
	    right: 0;
	    width: 46px;
	    height: 46px;
	    background-color: #fff;
	    border-radius: 50%;
	    border: 1px solid #CCCCCC;
	    cursor: pointer;
	    font-size: 0;
	    transition: border-color 0.3s linear;
	    &::before {
	    	content: '';
		    position: absolute;
		    width: 8px;
		    height: 8px;
		    border-bottom: 3px solid #A2C81F;
		    transform-origin: 0 0;
		    top: 50%;
		    left: 50%;
	    }
	    &.next {
	    	&::before {
					border-right: 3px solid #A2C81F;
			    transform: rotate(-45deg) translate(-50%, -50%);
	    	}
	    }
	    &.prev {
	    	right: 66px;
	    	&::before {
	    		border-left: 3px solid #A2C81F;
			    transform: rotate(45deg) translate(-50%, -50%);
	    	}
	    }
		}
	}
	&__wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	&__item {
		width: 100%;
		max-width: 260px;
		margin-right: 20px;
		padding: 5px;
		background-color: #fff;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		border: 1px solid $lightgrey;
		@media screen and (min-width: $landscape-lg) {
			padding: 10px;
			margin-right: 30px;
		}
		.imgholder {
			min-height: 250px;
			display: flex;
			align-items: center;
			width: 200px;
			margin-top: auto;
			outline: none;
			justify-content: center;
			img {
				max-height: 150px;
				max-width: 100%;
			}
		}
		
	}
}

.expert__block {
	&__swiper-container {
		height: 434px;
    max-width: 534px;
    border-radius: 50px 0 50px 0;
    border: none;
	}
	&__image__swiper-slide {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top;
	}
	&__pagination{
		margin-top: 10px;
		text-align: center;
		.swiper-pagination-bullet{
			opacity: 1;
			width: 14px;
			height: 14px;
			border: 2px solid #C4C4C4;
			background-color: #fff;
			margin: 0;
			margin-right: 20px;
			&-active{
				background-color: #9D0BE2;
			}
		}
		@media screen and (max-width: 991px) {
    	display: none;
		}
	}
.swiper-button-prev__expert__block {
    	display: block;
	    right: 66px;
	    position: absolute;
	    z-index: 5;
	    outline: none;
	    top: 0px;
	    width: 46px;
	    height: 46px;
	    background-color: #fff;
	    border-radius: 50%;
	    border: 1px solid #CCCCCC;
	    cursor: pointer;
	    font-size: 0;
	    -webkit-transition: border-color 0.3s linear;
	    transition: border-color 0.3s linear;
		    &:before {
		    	    border-left: 3px solid #C54EFD;
		    -webkit-transform: rotate(45deg) translate(-50%, -50%);
		    transform: rotate(45deg) translate(-50%, -50%);
		    content: '';
		    position: absolute;
		    width: 8px;
		    height: 8px;
		    border-bottom: 3px solid #C54EFD;
		    -webkit-transform-origin: 0 0;
		    transform-origin: 0 0;
		    top: 50%;
		    left: 50%;
	    }
    }

    .swiper-button-next__expert__block {
    	display: block;
	    position: absolute;
	    z-index: 5;
	    outline: none;
	    top: 0px;
	    right: 0;
	    width: 46px;
	    height: 46px;
	    background-color: #fff;
	    border-radius: 50%;
	    border: 1px solid #CCCCCC;
	    cursor: pointer;
	    font-size: 0;
	    -webkit-transition: border-color 0.3s linear;
	    transition: border-color 0.3s linear;
	    &:before {
	    	    border-left: 3px solid #C54EFD;
	    -webkit-transform: rotate(45deg) translate(-50%, -50%);
	    transform: rotate(-135deg) translate(-50%, -50%);
	   content: '';
	    position: absolute;
	    width: 8px;
	    height: 8px;
	    border-bottom: 3px solid #C54EFD;
	    -webkit-transform-origin: 0 0;
	    transform-origin: 0 0;
	    top: 50%;
	    left: 50%;
	    }
    }

.swiper-button-prev__expert__block,
.swiper-button-next__expert__block{
	margin-top: 20px;
}
    @media screen and (min-width: 1200px) {
			.swiper-button-prev__expert__block,
			.swiper-button-next__expert__block{
				margin-right: 40px;
			}
		}
    @media screen and (max-width: 1199px) {
    	.expert__block__swiper-container {
    		width: 404px;
    		height: 404px;
    	}

    	.expert__block__image__swiper-slide {
    		width: 404px;
    		height: 404px;
    	}

    	.swiper-button-next__expert__block {
    		top:auto;
    		bottom: 0px;

    	}

    	.swiper-button-prev__expert__block {
    		top:auto;
    		bottom: 0px;
    		right: auto;
    		left: 0;

    	}
    }

     @media screen and (max-width: 991px) {
.swiper-button-next__expert__block {
	right: 70px;
	top: 50%;
	transform: translateY(-50%);
}
.swiper-button-prev__expert__block {
	left: 70px;
	top: 50%;
	transform: translateY(-50%);
}
     }

     @media screen and (max-width: 767px) {
.expert__block__swiper-container {
    		width: 220px;
    		height: 220px;
    	}
    	.expert__block__image__swiper-slide {
    		width: 220px;
    		height: 220px;
    	}

    	.swiper-button-next__expert__block {
    		top: auto;
    		bottom: 0;
    		transform: translateY(0);
    	}

    	.swiper-button-prev__expert__block {
    		top: auto;
    		bottom: 0;
    		transform: translateY(0);
    	}
     }
}



.who__approach {
	@media screen and (max-width: 767px) {
		.who__approach__item {
			margin: 0 auto 40px auto;
		}

		.page__header {
			text-align: center;
		}
	}
}

.video__block {
	.video__container {
		margin-bottom: 0;
		margin-left: 0;
	}
}

.sign-up-course {
	padding-top: 95px;
	padding-bottom: 95px;
	position: relative;
	background-color: #ECECEC;
	[thx-block] {
		display: none;
		h2 {
			margin-bottom: 0;
		}
	}
	&:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 400px;
    height: 100%;
    opacity: 0.5;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    background: url(../img/tarif-block-bg-reverse.png) no-repeat 10% 10%/cover;
	}
	.page__header {
		margin-bottom: 75px;
	}
	.signup__form {
		max-width: 900px;
		justify-content: space-between;
		
		&__input {
			margin-bottom: 0;
			@media screen and (max-width: 576px) {
				max-width: 100%;
			}
		}
		&__input__wrap {
			margin-bottom: 0;
			max-width: 300px;
			@media screen and (max-width: 991px) {
				margin-bottom: 30px;
			}
			@media screen and (max-width: 576px) {
				max-width: 100%;
			}
		}
		&__submit {
			max-width: 230px;
			margin: 0;
			@media screen and (max-width: 991px) {
				max-width: 300px;
			}
			@media screen and (max-width: 576px) {
				max-width: 100%;
			}
		}
	}
}

.centermodal{
	max-width: 100%;
	max-height: 100%;
	overflow-y: auto;
	display: none;
	position: fixed;
	width: 374px;
	height: 456px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	padding-bottom: 15px;
	.close{
		z-index: 5;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		transition: all 0.3s ease;
		svg{
			transition: all 0.3s ease;
			width: 20px;
			fill: #fff;
			height: 20px;
		}
		&:hover,
		&:focus{
			svg{
				fill: $brightgreen;
			}
		}
	}
	&[data-modal="giftbag"]{
		width: 408px;
		height: 456px;
		.content{
			background: url(../img/giftbag.png) top center no-repeat;
			background-size: contain;
			display: flex;
			height: 100%;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.title{
				transform: translate(-20px, 100%) skewY(-7deg);
				display: flex;
				flex-direction: column;
				font-weight: 700;
				color: #FFF100;
				font-size: 30px;
				align-items: center;
				text-transform: uppercase;
				@media screen and (max-width: 991px) {
					font-size: 20px;
				}
				strong{
					color: #fff;
					font-weight: 300;
					font-size: inherit;
				}
			}
			a{
				position: absolute;
				left: 50%;
				margin-left: -20px;
				bottom: 0px;
				transform: translateX(-50%);
				color: #B31A2C;
				text-transform: uppercase;
				font-weight: 700;
				background: #fff;
				width: 198px;
				height: 48px;
				border-radius: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease;
				&:hover,
				&:focus{
					color: #fff;
					background: #B31A2C;
				}
			}
		}
	}
	&[data-modal="cats"]{
		width: 448px;
		height: 456px;
		font-family: 'Gilroy';
		@media screen and (max-width: 991px){
			width: 280px;
			height: 280px;
		}
		.content{
			background: url(../img/bg23.png) top center no-repeat;
			background-size: contain;
			display: flex;
			height: 100%;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&:after{
				content: '';
				top: 0;
				left: 0;
				z-index: 1;
				height: 100%;
				width: 100%;
				background: url(../img/cats23.png) bottom center no-repeat;
				background-size: contain;
			}
			.title{
				display: flex;
				flex-direction: column;
				color: #104A39;
				position: absolute;
				top: 40px;
				left: 0;
				z-index: 0;
				align-items: flex-start;
				text-transform: uppercase;
				@media screen and (max-width: 991px){
					top: 10px;
				}
				strong{
					border-radius: 8px 8px 0 0;
					background: #fff;
					font-weight: 700;
					font-family: 'BebasNeueBold';
					font-size: inherit;
					padding: 13px 16px 0;
					text-transform: uppercase;
					font-size: 50px;
					line-height: 1em;
					transform: translateY(10px);
					@media screen and (max-width: 991px){
						font-size: 20px;
					}
				}
				span{
					font-weight: 400;
					text-transform: uppercase;
					background: #fff;
					border-radius: 8px;
					font-size: 32px;
					border-radius: 0 8px 8px 8px;
					padding: 13px 16px;
					@media screen and (max-width: 991px){
						font-size: 18px;
					}
				}
			}
			.info{
				display: flex;
				flex-direction: column;
				color: #104A39;
				position: absolute;
				top: 190px;
				left: 5px;
				z-index: 0;
				align-items: flex-start;
				text-transform: uppercase;
				padding: 5px 10px;
				background: #fff;
				border-radius: 10px;
				box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
				@media screen and (max-width: 991px){
					top: 100px;
				}
				strong{
					font-size: inherit;
					text-transform: uppercase;
					font-size: 22px;
					line-height: 1.2em;
					font-weight: 700;
					display: block;
					box-sizing: border-box;
					@media screen and (max-width: 991px){
						font-size: 14px;
					}
					&:first-of-type{
						padding-left: 27px;
						color: #FF0804;
						background: url(../img/redstar.png) left center no-repeat;
					}
				}
			}
			
			a{
				position: absolute;
				left: 50%;
				margin-left: -20px;
				bottom: 0px;
				transform: translateX(-50%);
				background-color: #B31A2C;
				color: #fff;
				text-transform: uppercase;
				font-weight: 700;
				width: 198px;
				height: 48px;
				border-radius: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease;
				z-index: 2;
				&:hover,
				&:focus{
					background-color: #fff;
					color: #B31A2C;
				}
			}
		}
	}
	&[data-modal="march"]{
		width: 622px;
		height: 498px;
		font-family: 'Gilroy';
		@media screen and (max-width: 991px){
			width: 280px;
			height: 280px;
		}
		.content{
			background: url(../img/8mar.png) top center no-repeat;
			background-size: contain;
			display: flex;
			height: 100%;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.title{
				display: flex;
				flex-direction: column;
				color: #104A39;
				position: absolute;
				top: 40px;
				left: 0;
				z-index: 0;
				align-items: flex-start;
				text-transform: uppercase;
				@media screen and (max-width: 991px){
					top: 10px;
				}
				strong{
					border-radius: 8px 8px 0 0;
					background: #fff;
					font-weight: 700;
					font-family: 'BebasNeueBold';
					font-size: inherit;
					padding: 13px 16px 0;
					text-transform: uppercase;
					font-size: 50px;
					line-height: 1em;
					transform: translateY(10px);
					@media screen and (max-width: 991px){
						font-size: 20px;
					}
				}
				span{
					font-weight: 400;
					text-transform: uppercase;
					background: #fff;
					border-radius: 8px;
					font-size: 32px;
					border-radius: 0 8px 8px 8px;
					padding: 13px 16px;
					@media screen and (max-width: 991px){
						font-size: 18px;
					}
				}
			}
			.info{
				display: flex;
				flex-direction: column;
				color: #104A39;
				position: absolute;
				top: 190px;
				left: 5px;
				z-index: 0;
				align-items: flex-start;
				text-transform: uppercase;
				padding: 5px 10px;
				background: #fff;
				border-radius: 10px;
				box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
				@media screen and (max-width: 991px){
					top: 100px;
				}
				strong{
					font-size: inherit;
					text-transform: uppercase;
					font-size: 22px;
					line-height: 1.2em;
					font-weight: 700;
					display: block;
					box-sizing: border-box;
					@media screen and (max-width: 991px){
						font-size: 14px;
					}
					&:first-of-type{
						padding-left: 27px;
						color: #FF0804;
						background: url(../img/redstar.png) left center no-repeat;
					}
				}
			}
			
			a{
				position: absolute;
				left: 50%;
				margin-left: 0px;
				bottom: 70px;
				transform: translateX(-50%);
				background: #E62C63;
				color: #fff;
				text-transform: uppercase;
				font-weight: 500;
				width: 198px;
				height: 48px;
				border-radius: 24px 0;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease;
				letter-spacing: 2px;
				z-index: 2;
				box-shadow: 6.60807px 6.60807px 22.3022px rgba(244, 34, 95, 0.59);
				font-size: 24px;
				&:hover,
				&:focus{
					background-color: #fff;
					color: #E62C63;
				}
			}
		}
	}
	&[data-modal="corona"]{
		width: 496px;
		height: 430px;
		font-family: 'Gilroy';
		@media screen and (max-width: 991px){
			width: 280px;
			height: 280px;
		}
		.content{
			background: url(../img/corona.png) top center no-repeat;
			display: flex;
			height: 100%;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			background-size: contain;
		

			a{
				position: absolute;
				left: 50%;
				margin-left: 10px;
				bottom: 30px;
				transform: translateX(-50%);
				background-color: #E12341;
				color: #fff;
				text-transform: uppercase;
				font-weight: 700;
				width: 198px;
				height: 48px;
				border-radius: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease;
				z-index: 2;
				box-shadow: 0px 0px 9px #FF3A64;
				border-radius: 25px;
				&:hover,
				&:focus{
					background-color: #fff;
					color: #E12341;
				}
			}
		}
	}
}