svg#sprite{
  display: none;
}

svg{
  max-width: 100%;
  max-height: 100%;
  display: block;
}

svg{
  .stroke{
    fill: transparent;
  }
}

#goup{
  svg{
    left: 50%;
    top: 50%;
    width: 19px;
    height: 26px;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}
.tel{
  svg{
    width: 17px;
    height: 16px;
    use{
      fill: #fff;
    }
  }
}


.email{
  svg{
    width: 20px;
    height: 14px;
    use{
      fill: #fff;
    }
  }
}

.location{
  svg{
    width: 13px;
    height: 21px;
    use{
      fill: #fff;
    }
  }
}

.social{
  svg{
    width: 24px;
    height: 24px;
    use{
      fill: #fff;
    }
  }
}

.description{
  svg{
    width: 27px;
    use{
      fill: #fff;
    }
  }
}

.thanks{
  svg{
    width: 20px;
    use{
      fill: $brightgreen;
    }
  }
}

h2{
  svg{
    width: 102px;
    height: 102px;
    transform: translate(-55px, -40px);
    position: absolute;
    pointer-events: none;
    z-index: -1;
    @media screen and (max-width: 767px){
      width: 60px;
      height: 60px;
      max-height: 80px;
      transform: translate(-55px, -40px);
    }
  }
}

#first{
  .icoblock{
    svg{
      width: 30px;
      use{
        fill: #fff;
      }
    }
  }
}


#whatyoulearn{
  .icoblock{
    svg{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 35px;
      max-height: 35px;
      use{
        fill: #fff;
      }
    }
  }
}

#about{
  .icoblock{
    svg{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 50px;
      max-height: 38px;
      use{
        fill: #fff;
      }
    }
  }
}

#whyim{
  .icoblock{
    svg{
      max-width: 55px;
      max-height: 55px;
      use{
        fill: $brightgreen;
      }
    }
  }
}

header{
  .logo{
    svg{
      use{
        fill: #fff;
      }
    }
  }
  .contact{
    a{
      svg{
        width: 20px;
        height: 20px;
        use{
          fill: $brightgreen;
        }
      }
    }
  }
}
footer{
  .logo{
    svg{
      use{
        fill: #fff;
      }
    }
  }
  .contact{
    a{
      svg{
        width: 20px;
        height: 20px;
        use{
          fill: $brightgreen;
        }
      }
    }
  }
}


#learning{
  .icoblock{
    svg{
      max-width: 35px;
      max-height: 35px;
      use{
        fill: #fff;
      }
    }
  }
}

#feedback{
  .ico{
    svg{
      max-width: 22px;
      max-height: 22px;
      use{
        fill: $maindark;
      }
    }
  }
}

#format{
  .ico{
    svg{
      max-width: 60px;
      max-height: 60px;
      use{
        fill: #fff;
      }
    }
  }
}

#prices{
  .ico{
    background-color: $mainblue;
    svg{
      max-width: 30px;
      max-height: 30px;
      use{
        fill: #fff;
      }
    }
  }
}
