@import 'normalize';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';
@import url('https://fonts.googleapis.com/css?family=Teko:500');
@import 'app/sass/vars';
@import 'app/sass/header';
@import 'app/sass/footer';
@import 'app/sass/index';
@import 'app/sass/svg';

html {
	overflow-x: hidden;
}

body {
	overflow: hidden;
	font-family: $mainfont;
	* {
		box-sizing: border-box;
	}
	a {
		transition: all 0.35s linear;
		text-decoration: none;
	}
}
