
@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Regular.eot');
    src: url('fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTNorms-Regular.woff2') format('woff2'),
        url('fonts/TTNorms-Regular.woff') format('woff'),
        url('fonts/TTNorms-Regular.ttf') format('truetype'),
        url('fonts/TTNorms-Regular.svg#TTNorms-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Medium.eot');
    src: url('fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTNorms-Medium.woff2') format('woff2'),
        url('fonts/TTNorms-Medium.woff') format('woff'),
        url('fonts/TTNorms-Medium.ttf') format('truetype'),
        url('fonts/TTNorms-Medium.svg#TTNorms-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Bold.eot');
    src: url('fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTNorms-Bold.woff2') format('woff2'),
        url('fonts/TTNorms-Bold.woff') format('woff'),
        url('fonts/TTNorms-Bold.ttf') format('truetype'),
        url('fonts/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-ExtraBold.eot');
    src: url('fonts/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/TTNorms-ExtraBold.woff2') format('woff2'),
        url('fonts/TTNorms-ExtraBold.woff') format('woff'),
        url('fonts/TTNorms-ExtraBold.ttf') format('truetype'),
        url('fonts/TTNorms-ExtraBold.svg#TTNorms-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.eot');
    src: url('fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Bold.woff2') format('woff2'),
        url('fonts/Raleway-Bold.woff') format('woff'),
        url('fonts/Raleway-Bold.ttf') format('truetype'),
        url('fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Light.eot');
    src: url('fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Light.woff2') format('woff2'),
        url('fonts/Raleway-Light.woff') format('woff'),
        url('fonts/Raleway-Light.ttf') format('truetype'),
        url('fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('truetype'),
        url('fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Black.eot');
    src: url('fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Black.woff2') format('woff2'),
        url('fonts/Raleway-Black.woff') format('woff'),
        url('fonts/Raleway-Black.ttf') format('truetype'),
        url('fonts/Raleway-Black.svg#Raleway-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.eot');
    src: url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Bold.woff2') format('woff2'),
        url('fonts/Gilroy-Bold.woff') format('woff'),
        url('fonts/Gilroy-Bold.ttf') format('truetype'),
        url('fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Regular.eot');
    src: url('fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Regular.woff2') format('woff2'),
        url('fonts/Gilroy-Regular.woff') format('woff'),
        url('fonts/Gilroy-Regular.ttf') format('truetype'),
        url('fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Thin.woff2') format('woff2'),
        url('fonts/Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url("fonts/BebasNeueBold.woff2") format("woff2"), url("fonts/BebasNeueBold.woff") format("woff"), url("fonts/BebasNeueBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BebasNeue';
    src: url("fonts/bebasneueregular.woff2") format("woff2"), url("fonts/bebasneueregular.woff") format("woff"), url("fonts/bebasneueregular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  

$mainfont: 'Raleway';
$countfont: 'Teko', sans-serif;
$mainfontcolor: #1D2128;
$maindark: #14181C;
$mainyellow: #f7cb36;
$mainred: #E33555;
$lightgrey: #CCCCCC;
$darkgrey: #666666;
$maingrey: #999999;
$softgrey: #F5F5F8;
$brightgreen: #A2C81F;
$transition: all 0.3s ease;
$bradius: 3px;
$mainblue: #2e49ab;
$darkblue: #0A1225;
$woodsmoke: #171C21;
$bluewood: #313853;

// Media query
$mobile: 320px;
$landscape-sm: 768px;
$landscape-lg: 1000px;
$desktop: 1200px;
$desktop-hd: 1920px;
