<footer class="footer" id="feedback">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="footer__logo">
          <svg><use xlink:href="#logo"/></svg>
        </div>
      </div>
      <div class="col-12 col-md-9 d-flex align-items-center">
        <div class="footer__links">
          <a class="footer__links__item" href="tel:+74951183956">+7 (495) 118-39-56</a>
          <a class="footer__links__item" href="mailto:info@teachline.ru">info@teachline.ru</a>
          <a class="footer__links__item conf" target="_blank" href="#">Политика конфиденциальности</a>
        </div>
      </div>
    </div>

  </div>

  <div class="lp__info__fixed">
    <div class="lp__info__fixed__row">
      <span class="lp__info__fixed__icon">
        <img src="img/eye-icon.svg" alt="">
      </span>
      <p class="lp__info__fixed__text">
        <span>35</span> cейчас просматривают
      </p>
    </div>
    <div class="lp__info__fixed__row">
      <span class="lp__info__fixed__icon">
        <img src="img/hat-icon.svg" alt="">
      </span>
      <p class="lp__info__fixed__text">
        <span>20</span> купили курс сегодня
      </p>
    </div>
  </div>
</footer>



  <!--svg sprite-->
  //= _svg.html
  <!--svg sprite-end-->

  <script src="js/libs.min.js"></script>
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script src="js/scripts.js"></script>


  <script src="js/backend.js"></script>
</body>
</html>
